<footer>
  <!-- wrapper -->
  <div id="footer-wrapper">
    <div id="columns-container">
      <div class="column-section">
        <div class="column-header">
          <h3>Services</h3>
        </div>
        <ul class="column-list-container">
          <!-- unauthenticated users have the option to signin or create account -->
          <%- include('min/options/create_or_sign.ejs') %>
          <li class="column-list-item">
            <a href="/game" class="list-link">Gameplay</a>
          </li>
        </ul>
      </div>
      <div class="column-section">
        <div class="column-header">
          <h3>About</h3>
        </div>
        <ul class="column-list-container">
          <li class="column-list-item">
            <a href="" class="list-link">Story</a>
          </li>
          <li class="column-list-item"><a href="https://github.com/index-daddy372466/raining-sex-toys/tree/develop" target="_blank" class="list-link">Git Repo</a></li>
        </ul>
      </div>
      <div class="column-section">
        <div class="column-header">
          <h3>Legal</h3>
        </div>
        <ul class="column-list-container">
          <li class="column-list-item">
            <a href="" class="list-link">Terms & Conditions</a>
          </li>
          <li class="column-list-item">
            <a href="" class="list-link">Privacy Policy</a>
          </li>
          <li class="column-list-item">
            <a href="" class="list-link">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
