<nav id="nav-container">
    <ul class="nav-list-container">
        <li><a href="/home" class="list-link">Home</a></li>
        <li><a href="/login" class="list-link">Login</a></li>
        <li><a href="/game" class="list-link" style="transform:translate(50px,0)">Play game without Logging in</a></li>
    </ul>
    <li class="logo"><a href="/home">Raining Sex Toys</a></li>
</nav>