<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      http-equiv="Content-Security-Policy"
      content="img-src 'self' blob: data:;"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- static assets utilized from static mid -->
    <link rel="stylesheet" href="/css/game.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/highlight.css">
    <title>Raining Dildos App</title>
  </head>
  <body>
    <% if(!isAuthenticated){%> <%- include('../partials/unsecured/navigation.ejs')
    %> <% } else { %> <%- include('../partials/secured/navigation.ejs') %> <% } %>
    <!-- level indicator in background -->
    <h1 id="level" class="no-pointer"></h1>
    <!-- dildos fall from spaceship's exit holes -->
    <!-- spaceship container (top screen) -->
    <div
      id="spaceship-container"
      class="ship-container container-ship container-spaceship spaceship-container-class bye-spaceship"
    >
      <!-- flexible holes container - ul -->
      <ul
        id="holes-container"
        class="container-holes hole-container hole-ul ul-hole"
      >
        <!-- actial holes - list-items -->
        <li class="holes item list-item">
          <div class="circle circle-hole hole-circle"></div>
        </li>
        <li class="holes item list-item">
          <div class="circle circle-hole hole-circle"></div>
        </li>
        <li class="holes item list-item">
          <div class="circle circle-hole hole-circle"></div>
        </li>
      </ul>
    </div>
    <!-- start button -->
    <button id="start-btn" class="appear">Start</button>
    <!-- warning -->
    <hr id="warning" />
    <% if(!isAuthenticated){%> <%- include('../partials/unsecured/scoreboard.ejs')
    %> <% } else { %> <%- include('../partials/secured/scoreboard.ejs') %> <% } %>
  </body>
  <script type="module" src="/js//main.js"></script>
</html>
