<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/auth.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Login</title>
  </head>
  <body>
    <!-- nav -->
    <%- include('../partials/unsecured/login.ejs') %>
    <!-- login -->
    <h1>Login</h1>
    <form action="/login" method="POST">
      <div class="form-div">
        <input type="email" name="email" placeholder="Username" spellcheck="false" autocomplete="off" />
        <input type="password" name="password" placeholder="Password" spellcheck="false" autocomplete="off" />
        <button type="submit">Submit</button>
      </div>
      <div class="img-container">
        <!-- person container -->
        <div id="person-container">
          <!-- head -->
          <div class="person-head"></div> 
          <!-- body -->
          <div class="person-body"></div>
      </div>
    </form>
    <!-- footer -->
    <% if(!isAuthenticated){%> <%- include('../partials/unsecured/footer.ejs')
    %> <% } else { %> <%- include('../partials/secured/footer.ejs') %> <% } %>
  </body>
  <script src="/js/auth.js"></script>
</html>
