<div id="dialog-container" class="no-display">
    <div id="dialog-mini-container">
      <dialog id="dialog">
        <p class="dialog-header"></p>
        <form id="dialog-form" method="POST" action="/read/auth/verify" method="dialog">
          <input type="password" name="password" class="dialog-pw"/>
          <div id="dialog-button-container">
            <button type="submit" formmethod="dialog" form="dialog-form" id="submit-btn">Submit</button>
            <button id="cancel-btn">Cancel</button>
          </div>
      
        </form>
      </dialog>
    </div>
  </div>