<div id="level-choice-container">
     <div class="level-list-container">
        <ul class="level-list">
            <% for (item of levels) { %>
              <li> <%= item %> </li>
            <% } %>
          </ul>  
     </div>
</div>