<form action="/delete/logout?_method=DELETE" id="del-form" method="POST"></form>
<nav id="nav-container">
    <ul class="nav-list-container">
        <li><a href="/scores" class="list-link">Scores</a></li>
        <li><button type="submit" form="del-form" id="logout">Logout</button></li>
        <li><a href="/game" class="list-link">Gameplay</a></li>
    </ul>
    <li class="logo"><a href="/home">Raining Sex Toys</a></li>
</nav>
<script src="/js/nav.js"></script>