<nav id="nav-container">
    <ul class="nav-list-container">
        <li><a href="/scores" class="list-link">Scores</a></li>
        <li><a href="/contact" class="list-link">Contact</a></li>
        <li><a href="/logout" class="list-link">Sign Out</a></li>
    </ul>
</nav>