<section id="scoreboard-container">
  <ul class="scoreboard-list-container">
    <li class="scoreboard-list-item hide-blocks">
      <h3>Top Score</h3>
      <div>0</div>
    </li>
    <li class="scoreboard-list-item hide-blocks">
      <h3>current</h3>
      <div>0</div>
    </li>
    <li class="scoreboard-list-item hide-blocks">
      <h3>Attempts</h3>
      <div>0</div>
    </li>
    <li class="scoreboard-list-item hide-blocks">
      <h3>Average</h3>
      <div>0</div>
    </li>
  </ul>
</section>