<div id="filter-wrapper">
    <div class="filter-div">
        <h2 id="filter-title">Filter/Sort</h2>
    </div>
    <div class="filter-div">
        <ul id="filter-list-container">
            <li class="filter-list-item"><a href="" class="filter-list-link">sort</a></li>
            <li class="filter-list-item"><a href="" class="filter-list-link">sort</a></li>
            <li class="filter-list-item"><a href="" class="filter-list-link">sort</a></li>
        </ul>
    </div>

</div>
