<form action="/delete/logout?_method=DELETE" id="del-form" method="POST"></form>
<nav id="nav-container">
    <ul class="nav-list-container">
        <li><a href="/home" class="list-link">Home</a></li>
        <li><button type="submit" form="del-form" id="logout">Logout</button></li>
        <li><a href="/game" class="list-link" style="transform:translate(50px,0)">Play game (Currently logged in)</a></li>
    </ul>
</nav>