<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav id="nav-container">
        <ul class="nav-list-container">
            <li><a href="/login" class="list-link">Login</a></li>
            <li><a href="/register" class="list-link">Register</a></li>
        </ul>
    </nav>
    <h1 id="home">Home</h1>
    
</body>
</html>