<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="auth.css">
    <title>Register</title>
  </head>
  <body>
    <!-- mysql -->
     <h2>Mysql</h2>
    <form action="/create/mysql/register" method="POST">
      <input type="text" name="display_name" />
      <input type="email" name="email" />
      <input type="password" name="password">
      <button type="submit">Submit</button>
    </form>
    <!-- psql -->
     <h2>Postgres</h2>
    <form action="/create/psql/register" method="POST">
      <input type="text" name="display_name" />
      <input type="email" name="email" />
      <input type="password" name="password">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
