<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/score.css" />
    <link rel="stylesheet" href="/index.css" />
    <title>Scores</title>
  </head>
  <body>
    <%- include('partials/secured/scores/navigation.ejs') %>
    <div id="container-scores-parent">
        <ul id="scores-container" class="scores-list-container">
          <!-- scorecard -->
        </ul>
    </div>
    <!-- best score -->
    <aside class="sidebar side-bar bar-side">
      <div class="score-info-container">
        <div class="score-info-label-container">
          <h3 class="score-info-label">Best Score</h3>
        </div>
        <div class="score-info-score-container">
          <h4 class="score-info-score" id="best-score"></h4>
        </div>
      </div>
      <!-- worst score -->
      <div class="score-info-container">
        <div class="score-info-label-container">
          <h3 class="score-info-label">Worst Score</h3>
        </div>
        <div class="score-info-score-container">
          <h4 class="score-info-score" id="worst-score"></h4>
        </div>
      </div>
      <!-- average score -->
      <div class="score-info-container">
        <div class="score-info-label-container">
          <h3 class="score-info-label">Average Score</h3>
        </div>
        <div class="score-info-score-container">
          <h4 class="score-info-score" id="average-score"></h4>
        </div>
      </div>
      <!-- attempts -->
      <div class="score-info-container">
        <div class="score-info-label-container">
          <h3 class="score-info-label">Attempts</h3>
        </div>
        <div class="score-info-score-container">
          <h4 class="score-info-score" id="attempts-score"></h4>
        </div>
      </div>
    </aside>
  </body>
  <script type="module" src="/score.js"></script>
</html>
