footer{
    padding:.5rem;
    background:#000;
    border:3px solid #000;
    width:100%;
    margin-top: 2rem;
    position:fixed;
    bottom:0;
    left:0;
    overflow-x:hidden;
    opacity:.85;
    transition:.25s;
}
footer:hover{
    opacity:1;
    transition:.5s;
}
#footer-wrapper{
    padding-right: 1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width:100%;
}

#columns-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap:2rem;
}
.column-section{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap:.25rem;
    font-family: Arial, Helvetica, sans-serif;
}
.column-header>h3{
    color:#f00;
    text-decoration: underline;
}
.column-list-container{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap:.5rem;
}
.column-list-item>.list-link{
    text-decoration: none;
    color:#fff;
    transition:.5s;
}
.column-list-item>.list-link:hover{
    transition:.25s;
    color:#f00;
}